body {
  overflow: hidden;
  margin: 0;
  border: 0;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  min-width: 100px;
  padding: 10px;
  border-radius: 25px;
  font-size: medium;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

:root {
  overflow-x: hidden;
}

/* @font-face {
  font-family: 'MiSans';
  src: url('./assets/MiSans-Semibold.woff2') format('woff2');
  font-weight: bold;
} 

@font-face {
  font-family: 'MiSans';
  src: url('./assets/MiSans-Normal.woff2') format('woff2');
  font-weight: normal;
}  */